body {
	font-family: 'Open Sans', sans-serif !important;
}

.secondary-body {
    background-color: #273A5E;
    color: #fff;
}

.logo {
    width: 150px;
    margin: 50px;
}

.bg-blue {
	background-color: #273A5E;
}

.card-body h2 {
	font-weight: 700;
}

.card-body a {
	font-size: .8rem;
	color: #999;
}